

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
    font-family: TT Lakes Neue Trial, "Montserrat", sans-serif;
}
body{
  background-color: #F8F8F8;
  color: #1B1C21;
}
header{
  height: 20vh;
  width: 100vw;
}
.container{

  width: 97vw;
}
.navBar{
  /* width: 96vw; */
  /* height: 10vh; */
  display: flex;
  justify-content:space-between ;
  align-items: center;

  margin-top: 42px;
  margin-left: -1px;
  vertical-align: middle;
  border-left: 3px solid #41F6D7;
  cursor: pointer;


}
.navBar__icons{
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 20px;
  text-align: center;
  vertical-align: middle;
}
.header--nav--title{
margin-left: 30px;
padding: 10px;
font-weight: 700;
font-size: 28px;
font-family: TT Lakes Neue Trial;
line-height: 40px;
color: #1B1C21;
cursor: pointer;
}
.header--nav--title::before{
  content: " ";
  border-left: 2px;

}
.header--nav--items{
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  cursor: pointer;

}
.navIcons__first{
  vertical-align: middle;

}
.navIcons__second{
  vertical-align: middle;

}

.headerBar{

  justify-content: space-between;
  align-items: center;
  width: 94vw;
  margin-top: 28px;
  margin-left: 33px  ; 
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  color: #7E7E82;
  cursor: pointer;
}
.headerBar__searchBar{

  border: 1px solid #B8FFEC;
  border-radius: 6px;
    padding: 10px 10px;
    margin-right: 15px;
    cursor: pointer;

}
.headerBar__contents{
  margin: 10px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer;

}

.mainArea{
  display: grid;
  margin-top: 100px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
grid-template-areas: ' paragraph pic'
                     ' readMore  pic';
  gap: 1rem;
}
.mainArea__para{
 display: flex;
 flex-direction: column ;
 gap: 30px;
  grid-area: paragraph;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 510px;
  height: 160px;
  margin: 20px;
  text-align: start;
margin-left: 33px;

}

.mainArea__readMore{
  grid-area: readMore;
  margin-left: 33px;
}
.mainArea--image--container{
  grid-area: pic;
max-width: 100%;
width: 96%;
height: 100%;
object-fit: contain;


}
.mainArea__mainImage{
  /* object-fit: fill; */
  max-width: 100%;
  width: 100%;
height: 90%;
}
.arrowLogo{
  vertical-align: middle;
  cursor: pointer;
}