*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  background-color: rgb(254, 254, 254);
  width: 97vw;
}
.navBar{
  /* width: 96vw; */
  /* height: 10vh; */
  display: flex;
  justify-content:space-between ;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 42px;
  margin-left: -1px;
  vertical-align: middle;

}
.navBar__icons{
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 20px;
  text-align: center;
  vertical-align: middle;
}
.header--nav--title{
margin-left: 30px;
padding: 10px;
font-weight: bold;
font-size: 1.2rem;
border-left: 1px solid skyblue;
line-height: 1.6;
}
.header--nav--title::before{
  content: " ";
  border-left: 2px;
}
.header--nav--items{
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.headerBar{

  justify-content: space-between;
  align-items: center;
  width: 94vw;
  margin-top: 28px;
  margin-left: 33px  ;
  display: grid;
  grid-template-columns: 233px 254px 152px 233px 153px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}
.headerBar__searchBar{

  border: 1px solid rgb(237, 237, 237);
  border-radius: 6px;
    padding: 10px 10px;
    margin-right: 15px;
}
.headerBar__contents{
 margin-left: 5px;
}